#books {
    display: flex;
    border: solid 1px black;
    height: 350px;
}

.dialog {
    width: 300px;
    height: 400px;
    background-color: azure;
    border: solid 1px grey;
    border-radius: 10px;
}


.book {
    height: 300px; 
    width: 200px; 
    background-color: lavender; 
    margin: 5px;
}

.book > div {
    margin: 8px;
}