#new {
    border: 2px solid blue;
    padding: 20px;
    margin-top: 5px;
    width: 40%;
    display: none;
}

form > div {
    margin: 5px;
}

/*
.library {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
*/

.item {
    border: '1px solid black';
    padding: '10px';
    margin: '10px';
}
